li {
    display: flex;
    margin-top: 16px;
    align-items: center;
    background-color: #1f1e25;
}


#delete {
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    background-color: #e23c44;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    height: 56px;
    display: flex;
    margin-left: auto;
    padding-left: 10px;

}

#delete:hover {
    background-color: #e3212a;
}


#delete img{
    width: 20px;
}