button {
  border: none;
  font-size: 24px;
  color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 4;
  background-color: #e23c44;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

button:hover {
  background-color: #e3212a;
  font-weight: bold;
}
